.container
  %h2 Sign up
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_notification
    .span8.well
      .form-inputs
        = f.input :first_name, :required => true, :autofocus => true
        = f.input :last_name, :required => true, :autofocus => true
        = f.input :email, :required => true, :autofocus => true
        = f.input :password, :required => true, :as => :pwdcalc_simple
        = f.input :password_confirmation, :required => true
        = f.input :role, collection: User::ROLES, as: :radio_buttons

      .form-actions
        = f.button :submit, "Sign up"
      = render "devise/shared/links"
