.row
  %h2.form_title.large-offset-2.small-offset-2 Sign in
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .large-8.small-8.large-offset-2.small-offset-2.columns
      .form-inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

        = f.button :submit, "Sign in", class: 'button'
      = render "devise/shared/links"
