%nav.top-bar
  %ul.title-area
    %li.name.logo
      = link_to 'Bookd.me', '/', :class => 'logo bookd'
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section{:style => "left: 0%;"}
    %ul.right
      %li.divider
      %li= link_to 'BROWSE', acts_path
      %li.divider
      %li= link_to 'ABOUT US', about_index_path
      %li.divider
      - if user_signed_in? && current_user.act
        %li
          = link_to 'MY ACT', edit_act_path(current_user.act.id)
      - else
        %li
          = link_to 'ADD YOUR ACT', new_act_path
      %li.divider
      - if user_signed_in?
        %li
          = link_to destroy_user_session_path, :method => :delete do
            LOGOUT
      - else
        %li= link_to 'SIGN IN', new_user_session_path
        %li.divider
        %li= link_to 'SIGN UP', new_user_registration_path
      %li.divider

