#header.navbar.navbar-top
  .navbar-inner
    .container.container-full-width
      = link_to 'Bookd.me', '/', :class => 'logo bookd'
      %ul.nav.pull-right
        %li.head= link_to 'ABOUT US', about_index_path
        - if user_signed_in?
          %li.head= link_to current_user.email, edit_user_registration_path
        - else
          %li.head= link_to 'SIGN IN', new_user_session_path
        - if user_signed_in?
          %li.head= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete
        - else
          %li.head= link_to 'SIGN UP', new_user_registration_path
        %li
          .btn.btn-info= link_to 'Add Your Act', '#'

