.row
  .search_act.large-12.columns
    %h1 Find your act
    %input{:placeholder => "Find it here", :type => "text"}/
  -@acts.each do |act|
    .row.large-offset-2
      .media.attribtution.show_margin
        = image_tag(act.avatar.url(:show), class: 'img')
        .show_content
          %h2= act.name
          %strong= act.category.name
          %p= act.short_bio
      = link_to 'View act', act, class: 'button button_left'




  / .filter_act.large-3.columns
  /   %p All the beautiful filters will go here
  / - @acts.each do |act|
  /   .row
  /     .show_act
  /       .show_act_image.large-3.columns
  /         = image_tag(act.avatar.url(:show))
  /         = link_to 'View act', act, class: 'button'
  /       .show_act_info.large-6.columns
  /         %h1= act.name
  /         %h4= act.category.name
  /         %p= act.short_bio


