.row.push_it
  .large-4.columns
    = filepicker_image_tag @act.avatar, w: 320, h: 240, fit: 'clip'
  .large-8.columns.show_act_info
    %h1
      .acts_name= @act.name.capitalize
    %p
      = @act.short_bio
    - if !@act.owner? current_user
      - if user_signed_in?
        %a{"data-reveal-id" => "myModal", :href => "#", class: 'button'} book me
      - else
        = link_to 'book me', new_act_proposal_path(@act), class: 'button'
    - else
      %a
        = link_to 'edit your act', edit_act_path(@act), class: 'button'
.row.more_info
  .large-12.columns
    .section-container.auto{"data-section" => ""}
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#bio"} Biography
        .content{"data-section-content" => ""}
          %p= @act.biography
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#aboutus"} About Us
        .content{"data-section-content" => ""}
          %p About Us
      - if @act.media_posts.where(media_type: 'youtube').count != 0 || @act.owner?(current_user)
        %section
          %p.title{"data-section-title" => ""}
            %a{:href => "#video"} Video
          .content.youtube{"data-section-content" => ""}
            - @act.media_posts.where(media_type: 'youtube').each do |video|
              - youtube = Youtube.new
              - youtube = youtube.fetch(video[:url])
              = raw("<a href=#{video.url}><img src=#{youtube['thumbnail_url']} width=300></a>")
      - if @act.media_posts.where(media_type: 'soundcloud').count != 0 || @act.owner?(current_user)
        %section
          %p.title{"data-section-title" => ""}
            %a{:href => "#audio"} Audio
          .content{"data-section-content" => ""}
            -@act.media_posts.where(media_type: 'soundcloud').each do |soundcloud|
              - audio = Soundcloud.new
              = raw(audio.fetch(soundcloud[:url], maxwidth: 300, maxheight: 81, show_comments: false, color: '#34495E')['html'])
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel4"} Requirements
        .content{"data-section-content" => ""}
          %p Requirements
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel5"} Reviews
        .content{"data-section-content" => ""}
          %p Reviews
.row
  %div.large-8.large-offset-2.small-10.small-offset-1.fotorama{"data-ratio" => "800/600", "data-width" => "100%", "data-nav"=>"thumbs"}
    - @act.media_posts.where(media_type: 'image').each do |image|
      = raw("<img src=#{image.url}>")
- if user_signed_in?
  #myModal.reveal-modal
    .row
      %h1.form_title.large-offset-1.small-offset-1.small-8.columns
        = "Submit your proposal to #{@act.name}"
      = simple_form_for [@act, @proposal] do |f|
        = f.error_notification
        .large-10.small-10.large-offset-1.small-offset-1.columns
          .form-inputs
            - if current_user.venues.count == 0
              %h6 You need to add a venue in order to book an act
              %a
                = link_to 'Add a venue', new_venue_path, class: 'button'
            - else
              = f.association :venue,
                collection: current_user.venues.all,
                label_method: :name,
                include_blank: true,
                input_html: { class: 'select-nice', style: 'width: 100%;' }
              = link_to 'Add a new venue', new_venue_path, class: 'small button'
            = f.input :price, :required => true
            = f.input :date, as: :string, :required => true, input_html: {class: 'datepicker'}
            = f.input :time, as: :string, :required => true, input_html: {class: 'timepicker' }
            = f.input :proposal, as: :text, :required => true, input_html: { maxlength: 250}
            = f.button :submit, "Submit proposal", class: 'button'
      %a.close-reveal-modal ×
= content_for :extra_footer do
  - if @act.media_posts.where(media_type: 'background').any?
    :javascript
      $(function(){
        $('.wrapper').css('background', 'none')
        $.backstretch("#{@act.media_posts.where(media_type: "background").first.url}");
      });
  :javascript
    $('.youtube').magnificPopup({
      delegate: 'a',
      type: 'iframe'

    });
