.container
  / - if @act.owner? current_user
  /   - flash[:notice] = "Welcome #{@act.name}"
  .row.push_it
    .span3
      = image_tag(@act.avatar.url(:profile))
      #cssmenu
        %ul
          %li.active
            = link_to 'About Us', '#about_us'
          %li
            = link_to 'Biography', '#biography'
          %li
            = link_to 'Links', '#links'
          %li
            = link_to 'Reviews', '#review'
    .span9.show_act_info
      %h1
        .acts_name= @act.name.capitalize
      - if !@act.owner? current_user
        %button.ladda-button.blue
          = link_to 'book me', '#'
      %hr.clear
      .short_bio
        = @act.short_bio
      #show_act_links
        #about_us
          %p
            = "#{@act.name.capitalize} are a #{@act.category.name} act, from #{@act.location.state}."
            %br
            = "In their own words they are #{@act.custom_genre}."
        #biography
          %p
            ="#{@act.biography}"
        #links
          %p
            links
        #review
          %p
            review

